html,
body,
#root {
  height: 100%;
  background: #e6e2e29e;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}
h1 {
  font-size: 2.5rem!important;
}
h2 {
  font-size: 2rem !important;
}
h3 {
  font-size: 1.75rem !important;
}
h4 {
  font-size: 1.5rem !important;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem !important;
  font-weight: 500 !important;
  line-height: 1.2 !important;
  text-align: center;
}
/* 
.App .card {
  max-width: 400px;
  width: 100%;
  text-align: center;
} */
.App .cat{
  display: flex;
}
.App .card{
max-width: 400px;
/* width: 100%; */
text-align: center;
padding: 10px;
margin: 10px;
min-width: 242px;
}

label.radio {
  display: block;
  text-align: left;
  padding: 15px;
  margin-bottom: 5px;
  font-size: 20px;
}

label.radio+.radio {
  margin-left: 0;
}

label.radio input {
  margin-right: 10px;
}